@font-face {
  font-family: UTM Aptima;
  src: url("/fonts/UTM Aptima.ttf");
}
@font-face {
  font-family: "SVN Aptima";
  font-weight: 400;
  src: url("/fonts/SVN-Aptima.ttf") format("truetype");
}
@font-face {
  font-family: "SVN Aptima bold";
  font-weight: 700;
  src: url("/fonts/SVN-Aptima bold.ttf") format("truetype");
}
@font-face {
  font-family: "SVN Aptima bold italic";
  font-weight: 700;
  src: url("/fonts/SVN-Aptima bold italic.ttf") format("truetype");
}
body {
  font-family: "UTM Aptima";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SVN Aptima bold";
}
.main-banner {
  background-color: #d98d18;
  width: 100%;
  height: calc(100vw * 179 / 1920);
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-tel {
  height: 56px;
  background-color: #fff;
  border-radius: 24px;
  padding: 24px 24px 24px 64px;
  margin-left: 32px;
  color: #dd9930;
  position: relative;
  font-size: 24px;
  font-family: "SVN Aptima bold";
  display: flex;
  align-items: center;
}
.btn-tel .btn-tel-img {
  position: absolute;
  left: 8px;
  width: 17%;
  transform: translateY(50%);
  animation: rotate-img 0.7s ease infinite;
}
@keyframes rotate-img {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.btn-tel::after {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: 4px solid #f1d3a4;
  top: 50%;
  left: 31px;
  transform: translate(-50%, -50%);
  animation: ring 1s ease-in-out infinite;
}
@keyframes ring {
  0% {
    width: 45px;
    height: 45px;
    opacity: 1;
  }
  100% {
    width: 100px;
    height: 100px;
    opacity: 0;
  }
}

.src-infor {
  margin-right: 32px;
}
.src-infor span {
  color: #fff;
  font-family: "SVN Aptima bold";
  padding-left: 12px;
}
a.logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
a.logo img {
  width: calc(100vw * 279 / 1920);
  z-index: 100;
}
.section-padding {
  padding: 32px 0;
}
.banner {
  background-image: url(../img/main_banner.png);
  background-size: cover;
  position: relative;
  width: 100vw;
  height: calc(100vw * 1082 / 1920);
}
.banner .price-img {
  width: calc(100vw * 690 / 1920);
  position: absolute;
  bottom: 13%;
  left: 15%;
}

.bg-color.bg-color-v2 {
  background-color: transparent;
}

.banner-title {
  font-size: 24.418px;
  font-family: SVN Aptima bold;
  color: rgb(217, 141, 24);
  line-height: 1.25;
  margin-top: 300px;
  margin-bottom: 50px;
}
.special-promote {
  font-family: "SVN" sans-serif;
  font-size: 24.418px;
  color: rgb(217, 141, 24);
  line-height: 1.25;
}
.special-promote-detail {
  font-family: "SVN";
  color: #a4690d;
  font-size: 28px;
  margin-bottom: 24px;
}
.value {
  font-size: 24px;
  color: #000;
  margin-bottom: 8px;
}
.price-img {
  width: 70%;
  margin-bottom: 16px;
}
.banner-description {
  font-size: 16px;
  color: #000;
  margin-bottom: 32px;
}
.special-text {
  color: rgb(217, 141, 24);
}
.description-detail {
  background-color: #d98d18;
  padding: 32px 0;
  color: #fff;
  font-size: 22px;
}
.description-detail span {
  font-weight: bold;
}

.section-title {
  position: relative;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #d98d18;
  padding-bottom: 16px;
  padding-top: 60px;
  margin-bottom: 56px;
}
.section-title:before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  height: 3px;
  width: 140px;
  transform: translate(-50%, 0);
  border-radius: 3px;
  background-color: #d98d18;
}
#implement-progress .progress-pc {
  display: inline;
}
#implement-progress .progress-sp {
  display: none;
}
#implement-progress .learn-more {
  font-size: 24px;
  margin-top: 32px;
  font-family: "SVN Aptima bold italic";
  position: relative;
}
#implement-progress .learn-more::before {
  position: absolute;
  content: "";
  background-image: url(/img/black_right_arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 12px;
  top: 50%;
  transform: translate(-200%, -30%);
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: shake-right;
}
@keyframes shake-right {
  from {
    transform: translate(-200%, -30%);
  }
  50% {
    transform: translate(-100%, -30%);
  }
  to {
    transform: translate(-200%, -30%);
  }
}
#implement-progress .learn-more::after {
  position: absolute;
  content: "";
  background-image: url(/img/black_left_arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 12px;
  top: 50%;
  transform: translate(110%, -30%);
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: shake-left;
}
@keyframes shake-left {
  from {
    transform: translate(110%, -30%);
  }
  50% {
    transform: translate(10%, -30%);
  }
  to {
    transform: translate(110%, -30%);
  }
}
#implement-progress .learn-more a {
  color: #000;
}
#service-advantage {
  background-image: url(/img/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#service-advantage .services-list {
  position: relative;
  background-color: #db9a37;
  color: #fff;
  border-radius: 10px;
  padding: 24px 0px;
  padding-right: 40px;
  padding-bottom: 120px;
}
#service-advantage .services-list ul li {
  list-style: none;
}
#service-advantage .services-list::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 120px;
  bottom: 0;
  background: linear-gradient(transparent, #fff);
}
#service-advantage .services-list h4 {
  color: #fff;
  text-align: center;
  padding-left: 40px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
#service-advantage .services-list ul li span {
  font-family: "SVN Aptima bold italic";
}

#service-effect .dna-bg {
  background: url(/img/dna.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#service-effect .container .row {
  width: 100%;
  margin-bottom: 32px;
}
#service-effect .container .row.effect em {
  position: relative;
  margin-left: 40px;
  max-width: 30%;
}
#service-effect .container .row.effect em::before {
  content: "";
  position: absolute;
  background: url(/img/ellipse.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 47px;
  height: 15px;
  top: 50%;
}
#service-effect .container .row.effect.justify-content-md-end em::before {
  left: -47px;
}
#service-effect .container .row.effect.justify-content-md-start em::before {
  transform: rotate(180deg);
  right: -47px;
}

#highlights {
  background: url(/img/highlight-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 32px;
}

#highlights .highlight {
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
}
#highlights .container .container {
  width: 30%;
}
#highlights .highlight p span {
  font-family: "SVN Aptima bold italic";
}

#register-promote.section-padding {
  padding: 48px 0;
}
#register-promote {
  background: url(/img/bs_section.png);
  background-size: cover;
  background-repeat: no-repeat;
}
#register-promote .banner-promotion {
  display: flex;
  align-items: center;
}
#register-promote .banner-promotion img {
  width: 100%;
}
#register-promote .banner-promotion .combo-img {
  width: 60%;
  position: absolute;
  bottom: -24px;
  animation: zoom-img-out 2s linear infinite;
  animation-delay: 1s, 1s;
}
@keyframes zoom-img-out {
  0% {
    width: 60%;
  }
  50% {
    width: 65%;
  }
  100% {
    width: 60%;
  }
}
.input-icon {
  position: relative;
}
.input-icon .label-icon {
  position: absolute;
  z-index: 2;
  display: block;
  pointer-events: none;
  top: 8px;
  left: 8px;
}
.input-register {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 24px;
  padding: 24px 0 24px 56px;
  color: #fff;
}
.input-register:focus {
  background-color: transparent;
  color: #fff;
}
.input-register::placeholder {
  color: #fff;
  font-weight: bold;
}
.btn-register {
  position: relative;
  color: #da8d17;
  background-color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 16px;
  padding: 2px 48px 2px 34px;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.btn-register::before {
  position: absolute;
  content: "";
  width: 208px;
  height: 28px;
  top: 50%;
  left: 50%;
  background: transparent;
  box-sizing: content-box;
  border-radius: 16px;
  transform: translate(-50%, -50%);
}
.btn-register:hover::before{
  animation: ripple 1s ease-in infinite;
}
@keyframes ripple {
  0% {
    width: 182px;
    height: 15px;
    opacity: 1;
    border: 4px solid #fff;
  }
  100% {
    width: 207px;
    height: 24px;
    opacity: 0;
    border: 16px solid #fff;
  }
}
.btn-register i {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
#experts {
  padding: 48px 0;
}
#experts h4 {
  color: #dc9527;
}
#experts .slick-track {
  display: flex;
  justify-content: space-between;
}
#experts .container .container {
  width: 20%;
}
.slick-arrow {
  background: url(/img/right_arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 56px;
  height: 56px;
  border: none;
  position: absolute;
  z-index: 1;
  top: 50%;
}
.slick-arrow:focus {
  outline: none;
}
.slick-slide:focus {
  outline: none;
}
.slick-prev {
  left: -64px;
  transform: rotate(180deg);
}
.slick-next {
  right: -64px;
}

#customer-feedback .container .container {
  width: 30%;
}
#customer-feedback .section-title {
  padding-top: 0;
}
#customer-feedback .row {
  margin-top: 128px;
}
#customer-feedback .customer-img {
  top: -70px;
  left: 50%;
  width: 140px;
  transform: translate(-50%, 0);
}
#customer-feedback .customer-wrap {
  padding: 94px 24px 102px;
  border: 2px solid #e4a901;
  border-radius: 10px;
}
#customer-feedback .customer-wrap p {
  font-style: italic;
}
#customer-feedback span.customer-name {
  bottom: 80px;
  font-family: "SVN Aptima bold";
}
#customer-feedback span.customer-title {
  bottom: 56px;
  color: #d98d18;
  font-style: italic;
}
#customer-feedback span.quote {
  background: url(/img/quote.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 32px;
  bottom: 8px;
  right: 8px;
}

#footer-register {
  background: url(/img/footer_register_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#footer-register.section-padding {
  padding: 48px 0;
}
#footer-register .normal-text {
  font-family: "SVN Aptima bold";
  font-size: 24px;
  color: #fff;
}
#footer-register .special-text {
  font-family: "SVN Aptima bold";
  font-size: 24px;
  color: #9c6510;
}
#footer-register form {
  width: 100%;
}
#footer-register .form-group.input-icon {
  width: calc(100% / 3 - 16px);
}
label.error {
  color: #fff;
}
#footer-register label.error {
  position: absolute;
  transform: translateX(-50%);
  width: 100%;
  color: #fff;
  top: 52px;
  left: 50%;
}

#footer {
  background-color: #fff;
}
#footer.footer {
  padding: 48px 0;
}
#footer .footer-title {
  font-family: "SVN Aptima bold";
  color: #d98d17;
  font-size: 24px;
}
#footer .address {
  color: #2d2d2d;
  font-size: 18px;
}
@media (max-width: 1024px) {
  #experts .container .container {
    width: 15%;
  }
  .slick-prev {
    left: -32px;
  }
  .slick-next {
    right: -32px;
  }
}

@media (max-width: 768px) {
  
  .banner .price-img {
    width: calc(100vw * 690 / 1920);
  }
  .section-title {
    font-size: 24px;
  }
  .description-detail {
    font-size: 16px;
  }
  #implement-progress .progress-pc {
    display: none;
  }
  #implement-progress .progress-sp {
    display: inline;
  }
  #service-effect .container .row.effect em {
    max-width: 100%;
  }
  #service-effect .container .row.effect.justify-content-md-end em::before {
    display: none;
  }
  #service-effect .container .row.effect.justify-content-md-start em::before {
    display: none;
  }
  #service-effect .dna-bg {
    background: url(/img/dna_trans.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  #highlights .container .container {
    width: 80%;
  }
  #service-advantage .mb-5 {
    margin-bottom: 3rem !important;
  }
  #service-advantage .flex-column {
    flex-direction: column !important;
  }
  #service-advantage .col-12 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  #service-advantage .ml-md-5 {
    margin-left: 0 !important;
  }
  #highlights .d-flex.flex-column.flex-md-row {
    flex-direction: column !important;
  }
  #highlights .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  #customer-feedback .container .container {
    width: 80%;
  }
  #register-promote .flex-column {
    flex-direction: column !important;
  }
  #register-promote .col-10 {
    flex: 0 0 83.333333% !important;
    max-width: 83.333333% !important;
  }
  #register-promote .mb-5 {
    margin-bottom: 3rem !important;
  }
  #register-promote .row {
    align-items: center;
  }
  #register-promote .banner-promotion {
    margin-bottom: 120px !important;
  }
  #register-promote .banner-promotion .combo-img {
    animation: none;
    width: 60%;
    bottom: -100px;
  }
  #customer-feedback .customer-wrap {
    margin-bottom: 96px;
  }
  #footer-register .form-group.input-icon {
    width: 80%;
  }
  #footer-register .form-row.flex-column {
    flex-direction: column !important;
  }
  .slick-arrow {
    background: url(/img/right_arrow.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 56px;
    height: 56px;
    border: none;
    position: absolute;
    z-index: 1;
    top: 50%;
  }
  .slick-prev {
    left: 8px;
    top: 20%;
    transform: rotate(180deg);
  }
  .slick-next {
    right: 8px;
    top: 20%;
  }
  label.error {
    position: static;
    color: #fff;
  }
  .btn-register {
    padding: 8px 58px 8px 44px;
    font-family: "SVN Aptima bold";
  }
  #footer-register label.error {
    position: static;
    color: #fff;
    transform: translateX(0);
  }
}

@media (max-width: 414px) {
  .main-banner {
    position: relative;
    height: calc(100vw * 471 / 1920);
  }
  a.logo img {
    width: calc(100vw * 628 / 1920);
  }
  #implement-progress .learn-more {
    font-size: 20px;
  }
  .banner .price-img {
    width: calc(100vw * 1440 / 1920);
  }
  .banner {
    background: url(/img/banner_title.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: calc(100vw * 1340 / 1920);
  }
  .banner-sp {
    background: url(/img/banner_sp_woman.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    width: 100%;
    height: 400px;
  }
  #register-promote .banner-promotion .combo-img {
    width: 100%;
  }
  .btn-floating {
    position: fixed;
    bottom: 48px;
    right: 16px;
    width: 80px;
    height: 80px;
    font-size: 10px;
    font-family: "SVN Aptima bold";
    color: #dc9527 !important;
    border: 2px solid #dc9527;
    border-radius: 100%;
    background-color: #fff;
    line-height: 16px;
    z-index: 100;
  }
  .btn-floating:focus {
    outline: none;
    box-shadow: none;
  }
  
}
